/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


.single_worker {
    display: inline-block;
    background-color: azure;
    position: relative;
    width: 1100px;
    height: 500px;
    left: 50%;
    top: 25%;
    margin-left: -550px;
    margin-top: 100px;
    border: solid black;
    box-shadow: 10px 10px 5px #888888;

}

.edit_button {
    
    top: 450px;
    left: 1000px;
   
    position: absolute;
    
}


.single_user_photo {
    float: left;
}

.single_user_info {
    /*float: right;*/
    display: inline-block;
    margin-right: 50px;
    position: absolute;
}