{% load staticfiles %}


<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
     <script src="{% static 'js/jquery-latest.js' %}"></script>
     <script src="{% static 'js/materialize.js' %}"></script>
     <script src="{% static 'js/init.js' %}"></script>
</head>
<!-- <style type="text/css">
    body {
    background-image: url({% static 'images/kuklachev.jpg'%});
}
</style>
 -->

<body>
    
   <div class="row" style="background-color: azure; max-width: 70%; margin-top:10%; box-shadow: 10px 10px 5px #888888;">
   
    <form method="POST" class="viewform" class="col s12">
        {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
          <input  name="username" type="text" class="validate">
          <label class="active">UserName</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input  name="password" type="password" class="validate">
      <label class="active">PassWord</label>
    </div>
  </div>
       
        <button type="submit" name="_submit" class="btn">Login</button>
    </form>
</div>

</body>

</html>