{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>/etc/hosts</title>

 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <script src="{% static 'js/jquery-latest.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>

{% block user %}
  {% endblock %}

    

<div id="modal_w" class="modal" style="margin-top:65px">
      <div class="modal-content">
       Добавить
       
       <form id="form1" action="{% url 'add_worker' %}" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
          
          <button onclick="return check_deps()" id='go' class="btn waves-effect waves-light" type="submit" name="action">Add worker
            <i class="material-icons right">send</i>
          </button>
          <a class="waves-effect waves-light btn" onClick="getElementById('modal_w').style.display='none';">Close</a>

  
          </form>

       
      </div>
      
    </div>   
<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large teal">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li class="waves-effect waves-light"><a onClick="getElementById('modal_w').style.display='block';"><i>Add Worker</i></a></li>
      <li class="waves-effect waves-light"><a onClick="getElementById('edit_button').style.display='block';"><i>Edit Worker</i></a></li>
      <li class="waves-effect waves-light"><a><i>xueta</i></a></li>
      <li class="waves-effect waves-light"><a href="/logout/"><i>Logout</a></li>
    </ul>
  </div>


  



  <div class="container">



  

    <div id="modal_edit" class="modal" style="top:50px">
        <div class="modal-content">
            Edit
      <form id="edit_worker" action="" method="post" enctype="multipart/form-data">
      <div id="form_content" class="modal-content">
         
         

       
      </div>

      <button  class="btn waves-effect waves-light" type="submit" name="action">Edit worker
            <i class="material-icons right">send</i>
          </button>
        <a class="waves-effect waves-light btn" onClick="getElementById('modal_edit').style.display='none';">Close</a>
      </form>
        </div>
      
    </div>      

  
    <div class="section">

      <!--   Icon Section   -->
      <div class="row" style="margin-top:60px">
        {% for worker in workers %}
        <div class="col s12 m4" style="background-color: azure;">
          <div class="icon-block">
            <h2 class="center light-blue-text"></h2>
            <h5 class="center">{{ worker.primary_alias }}</h5>
            <a href="/info/{{ worker.id }}"><img src="{{ MEDIA_URL }}{{ worker.photo.url }}" style="display: block; margin: auto;" height="280" width="250"> </a>
           
                
             </div>
            
          </div>
        {% endfor %}
          </div>
          
        </div>

      
        
      </div>
    </div>
    
    

    



    </div>

  
  

  


  


  </body>
</html>
