{% extends 'index.html' %}
{% load staticfiles %}



{% block user %}
<div class="single_worker">

    <div class="single_user_photo">
        <img src="{{ MEDIA_URL }}{{ photo }}">

    </div>

    <div class="single_user_info">
        <p>Главный алиас: {{ primary_alias }}
        <p>Имя и фамилия: {{ name }} {{ last_name }}
        <p>Известные алиасы: {{ known_names }}
        <p>Почему так: {{ reason }}
        <p>Где работает: {{ department }}
        <p>Что тут делает: {{ job }}



    </div>

    <div class="edit_button">
    <a id="edit_single_worker" class='dropdown-button btn' href='/edit/{{ id }}/'">Edit</a>
    </div>
</div>

{% endblock %}